<!DOCTYPE html>
<!--[if lt IE 7]><html lang="fr" class="lt-ie9 lt-ie8 lt-ie7"><![endif]-->
<!--[if IE 7]><html lang="fr" class="lt-ie9 lt-ie8"><![endif]-->
<!--[if IE 8]><html lang="fr" class="lt-ie9"><![endif]-->
<!--[if gt IE 8]><!-->
<html class="fontawesome-i2svg-active fontawesome-i2svg-complete" lang="fr">
<!--<![endif]-->

<head>

    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="robots" content="noindex, nofollow">
    <!-- meta name="google-site-verification" content="tTHpPE3lbS3Nt/OaY6mWeq/zT10che4J8khiDtv2+6U=" / -->
    <meta name="description" content="MTO-PTO-Travels la nouvelle raison d'être du tourisme">
    <meta name="author" content="Ahlem Ben Abderrazak">
    <link rel="stylesheet" href="../../assets/css/contact.css">
    <style type="text/css">

    </style>
    {# <link rel="apple-touch-icon" sizes="57x57" href="http://so-leader.com/favicon/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="http://so-leader.com/favicon/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="http://so-leader.com/favicon/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="http://so-leader.com/favicon/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="http://so-leader.com/favicon/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="http://so-leader.com/favicon/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="http://so-leader.com/favicon/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="http://so-leader.com/favicon/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="http://so-leader.com/favicon/apple-icon-180x180.png">
   <link rel="icon" type="image/png" sizes="192x192" href="http://so-leader.com/favicon/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="http://so-leader.com/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="http://so-leader.com/favicon/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="http://so-leader.com/favicon/favicon-16x16.png">
    <link rel="manifest" href="http://so-leader.com/favicon/manifest.json">#}
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="./favicon/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">
    <link rel="stylesheet" href="../../index_fichiers/bootstrap.css">
    <link rel="stylesheet" href="../../index_fichiers/jquery-ui.css">
    <link href="../../index_fichiers/all.css" rel="stylesheet">
    <!--load all styles -->
    <script defer="defer" src="../index_fichiers/all.js"></script>
    <!--load all styles -->
    <link rel="stylesheet" href="../../index_fichiers/owl.css">
    <link rel="stylesheet" href="../../index_fichiers/owl_002.css">
    <link rel="stylesheet" href="../../index_fichiers/style.css">
    <link rel="stylesheet" href="../../assets/css/footer.css">
    <link rel="stylesheet" href="../../assets/css/grid.css">
    <link rel="stylesheet" href="../../assets/css/base.css">
  <link rel="canonical" href="http://www.so-leader.com/">
    <title>MTO-PTO-Travels, la nouvelle raison d'être du tourisme</title>
    <!--[if lt IE 9]><script src="../js/html5shiv.min.js"></script><script src="../js/respond.min.js"></script><![endif]-->
    <script src="https://use.fontawesome.com/releases/v5.12.1/js/all.js" data-auto-replace-svg="nest"></script>
    {% block stylesheets %}

    {% endblock %}
</head>
<body >
{#{%  include 'partials/header.html.twig' %}#}
{% block header %}


{% endblock %}

{% block body %}



{% endblock %}

{#{%  include 'partials/footer.html.twig' %}#}

<script src="../../index_fichiers/jquery-3.js"></script>
<script src="../../index_fichiers/jquery-ui.js"></script>
<script src="../../index_fichiers/bootstrap.js"></script>
<script src="../../index_fichiers/owl.js"></script>
<script src="../../index_fichiers/owl.js"></script>
<script src="../../index_fichiers/soleader.js"></script>
<script>
    $(".carousel").carousel({
        interval: 2000
    });
</script></body>

{% block javascripts %}{% endblock %}
</body>
</html>
